/* Component essentials (Tailwind + required plugins/utilities) */
@import '@lvigerust/components/styles';
@import './lib/assets/styles/animations.css';
@import './lib/assets/styles/easing.css';

@source '../node_modules/@lvigerust/components/dist/components';

@plugin '@tailwindcss/typography';

@layer base {
	* {
		@apply divide-zinc-950/10 border-zinc-950/10 ring-zinc-950/10 outline-zinc-950/10 selection:bg-blue-600 selection:text-white dark:divide-white/10 dark:border-white/10 dark:ring-white/10 dark:outline-white/10;
	}

	html {
		@apply scroll-smooth bg-white text-zinc-950 antialiased lg:bg-zinc-100 dark:bg-zinc-900 dark:text-white dark:lg:bg-zinc-950;
	}
}

@utility scroll-start {
	scroll-initial-target: nearest;
}

@utility full-bleed {
	@apply ml-[calc(50%-50vw)] w-screen;
}
