/* Component essentials (Tailwind + required plugins/utilities) */
@import '@lvigerust/components/styles';
@source '../node_modules/@lvigerust/components/dist/components';

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer base {
	* {
		@apply divide-zinc-950/10 border-zinc-950/10 ring-zinc-950/10 outline-zinc-950/10 selection:bg-blue-600 selection:text-white dark:divide-white/10 dark:border-white/10 dark:ring-white/10 dark:outline-white/10;
	}

	html {
		@apply scroll-smooth bg-white text-zinc-950 antialiased lg:bg-zinc-100 dark:bg-zinc-900 dark:text-white dark:lg:bg-zinc-950;
	}
}

@utility scroll-start {
	scroll-initial-target: nearest;
}

@utility full-bleed {
	@apply ml-[calc(50%-50vw)] w-screen;
}

@theme {
	--ease-spring-2: linear(
		0,
		0.007,
		0.029 2.2%,
		0.118 4.7%,
		0.625 14.4%,
		0.826 19%,
		0.902,
		0.962,
		1.008 26.1%,
		1.041 28.7%,
		1.064 32.1%,
		1.07 36%,
		1.061 40.5%,
		1.015 53.4%,
		0.999 61.6%,
		0.995 71.2%,
		1
	);
}
